@use "./abstracts" as *;

@use "./base/resets";
@use "./base/layout";

@use "./components/header";
@use "./components/footer";
@use "./components/alerts";

@use "./pages/show_all";
@use "./pages/show_one";
@use "./pages/new_edit";
@use "./pages/error";

@use "./base/utilities";
@use "./components/buttons";
@use "./components/cards";
@use "./components/forms";

/* ######################################################### */
/* MEDIA QUERIES */
/* ######################################################### */

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    &-collapse {
      flex-direction: column;
      &:not(.show) {
        display: none;
      }
    }
    &_welcome {
      order: -1;
      margin-bottom: 0.5rem;
    }
    &_nav {
      display: flex;
      margin-top: 0.5rem;
      width: 100%;
      flex-direction: column;
      text-align: center;
      transition: height 0.15s ease-in-out;
      .nav-item {
        margin: 0.25rem 0;
      }
    }
    &_toggler {
      // display the hamburger
      display: flex;
    }
    &--right {
      // undo the effect of navbar--right when collapsed
      margin: auto;
    }
  }
}
