<% layout('layouts/boilerplate') %> 
  <h1>All Bars</h1>

  <a href="/divebars/new">Add New Divebar</a>

  <ul>
    <% for (let divebar of divebars){%>
      <li><a href="/divebars/<%= divebar._id %>"><%= divebar.title %></a></li>
      <% }%>
  </ul>
