<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dive Bars - All Dive Bars</title>
</head>
<body>
  <h1>Dive Bars - All Dive Bars</h1>

  <a href="/divebars/new">Add New Divebar</a>

  <ul>
    <% for (let divebar of divebars){%>
      <li><a href="/divebars/<%= divebar._id %>"><%= divebar.title %></a></li>
      <% }%>
  </ul>
  
</body>
</html>