<% layout('layouts/boilerplate') %> 
  <h1>Create New Bar</h1>

  <form action="/divebars" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="divebar[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="divebar[location]">
    </div>
    <div>
        <label for="location">Description</label>
        <input type="text" id="description" name="divebar[description]">
    </div>
    <button>Add Divebar</button>
  </form>

  <a href="/divebars">Cancel</a>
