@use "../abstracts" as *;

.show {
  &_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    &_edit {
      margin-left: auto;
      margin-right: 1rem;
    }
    &_location {
      flex-basis: 100%;
    }
  }

  &_gobacklink {
    margin: 1rem 0;
  }

  &_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;
    &_main,
    &_thumb {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_main {
      grid-area: 1 / 1 / 3 / 3;
    }
  }

  &_body {
    width: 100%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 300px auto;
    gap: 2rem;
    &_description {
      grid-area: 1 / 1 / 3 / 2;
    }
    &_map {
      width: 100%;
      height: 100%;
    }
    &_info {
      .barinfo {
        margin-bottom: 0.5rem;
      }
    }
    @include forTabletAndBelow {
      &_description {
        grid-area: auto;
      }
      grid-template-columns: 1fr;
      grid-template-rows: auto 300px auto;
    }
  }
  &_tabs {
    width: 100%;
    .tab-headings {
      display: flex;
      border-bottom: lightgrey solid 2px;
      &_btn {
        padding: 0.5rem 1.5rem;
        h3 {
          color: rgb(88, 88, 88);
          font-size: 1.1rem;
          letter-spacing: 0.05rem;
        }
        &.is-active {
          h3 {
            color: $primary-dark;
          }
          border-bottom: $primary-dark solid 2px;
          margin-bottom: -2px;
        }
        &:not(.is-active):hover {
          h3 {
            color: darkblue;
          }
          border-bottom: darkblue solid 2px;
          margin-bottom: -2px;
        }
      }
    }
  }
}

.tab-content {
  margin: 1rem 0;
  &_item {
    &--reviews {
      width: 60%;
    }
  }
  &_item:not(.is-active) {
    display: none;
  }
}

.add-review {
  margin: 2rem 0;
  &_form {
    margin-top: 1rem;
    border-bottom: lightgrey solid 2px;
  }
  &_submit-btn {
    margin: 1rem 0;
  }
}

.review-list {
  margin-top: 2rem;
  &__item {
    margin: 2rem 0;
    &:not(:last-child) {
      border-bottom: lightgrey solid 1px;
      padding-bottom: 1rem;
    }
  }
  &__rating-wrapper {
    display: inline-block;
  }
  &__title {
    display: inline-block;
    margin-left: 1rem;
  }
  &__author-wrapper {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
  &__body {
    margin-bottom: 1rem;
  }
}
