<% layout('layouts/boilerplate') %> 

  <div class="newedit_container">
    <!-- Title -->
    <section class="newedit_header">
      <h1>Register</h1>
    </section>
    
    <!-- Form -->
    <section class="newedit_form">
      <form action="/register" method="POST" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="user[email]" required>
            <div class="feedback feedback-valid">Thank you!</div>
            <div class="feedback feedback-invalid">Please enter a Email.</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="user[password]" required>
            <div class="feedback feedback-valid">Thank you!</div>
            <div class="feedback feedback-invalid">Please enter a Password.</div>
        </div>
        <button class="newedit_form_addbar btn btn-success">Register</button>
      </form>
    </section>     
  </div>